<div class="absolute inset-0 flex flex-col min-w-0 overflow-y-auto -px-20" cdkScrollable>
    <!-- Main -->
    <div class="flex-auto p-6 sm:p-10">
        <div class="h-full border-gray-300 rounded-2xl">
        <mat-drawer-container class="flex-col h-full">
            <mat-drawer class="lg:w-1/3 sm:w-full bg-white-100" #drawer [opened]="false" mode="over" [position]="'end'" [disableClose]="false">
                <div class="flex flex-col w-full max-w-140 filter-article filter-interactive text-gray-700">
                    <div class="bg-slate-600 text-justify pt-2 text-white h-10 text-2xl" mat-dialog-title>
                        {{ sTitle }}
                    </div>
                     <div mat-dialog-content>
                        <form [formGroup]="typesForm" >


                              <div class="flex flex-col grow">
                                <mat-label class="ml-2 text-base">Type</mat-label>
                                <mat-form-field class="m-1 form-element" appearance="outline">
                                  <input matInput placeholder="Type" formControlName="type" />
                                </mat-form-field>
                              </div>


                              <div class="flex flex-col grow">
                                <mat-label class="ml-2 text-base">Range</mat-label>
                                <mat-form-field class="m-1 form-element" appearance="outline">
                                  <input matInput placeholder="Range" formControlName="range" />
                                </mat-form-field>
                              </div>


                              <div class="flex flex-col grow">
                                <mat-label class="ml-2 text-base">Reporting</mat-label>
                                <mat-form-field class="m-1 form-element" appearance="outline">
                                  <input matInput placeholder="Reporting" formControlName="reporting" />
                                </mat-form-field>
                              </div>

                              <div class="flex flex-col grow">
                                <mat-label class="ml-2 text-base">Balance</mat-label>
                                <mat-form-field class="m-1 form-element" appearance="outline">
                                  <input matInput placeholder="balance" formControlName="balance" />
                                </mat-form-field>
                              </div>

                              <div class="flex flex-col grow">
                                <mat-label class="ml-2 text-base">Description</mat-label>
                                <mat-form-field class="m-1 form-element" appearance="outline">
                                  <input matInput placeholder="Description" formControlName="description" />
                                </mat-form-field>
                              </div>

                          </form>
                    </div>
                    <div mat-dialog-actions>
                        <button mat-icon-button (click)="onUpdate(typesForm.value)"  aria-label="Add" class="m-2">
                            <mat-icon [svgIcon]="'mat_outline:update'"  color="primary"></mat-icon>
                        </button>
                        <button mat-icon-button (click)="onCreate()" class="m-2" >
                            <mat-icon [svgIcon]="'mat_outline:add'" color="primary"></mat-icon>
                        </button>
                        <button mat-icon-button (click)="closeDrawer()"  class="m-2">
                            <mat-icon [svgIcon]="'mat_outline:close'" color="primary"></mat-icon>
                        </button>
                        <button mat-icon-button (click)="onDelete(typesForm.value)" class="m-2">
                            <mat-icon [svgIcon]="'mat_outline:delete'" color="warn"></mat-icon>
                        </button>
                    </div>
                </div>
            </mat-drawer>
            <ng-container *ngIf="types$ | async as rows">
                <div class="flex flex-col h-full">
                    <dx-data-grid *ngIf="types$ | async as rows" id="di" [dataSource]="rows"
                        [remoteOperations]="false" [allowColumnReordering]="true" [rowAlternationEnabled]="true"
                        [showBorders]="true"

                        [focusedRowEnabled]="true"
                        [focusedRowIndex]="0"
                        (onCellDblClick)="onCellDoublClicked($event)"
                        [repaintChangesOnly]="true"
                        (onFocusedRowChanged)="onFocusedRowChanged($event)"
                        keyExpr="id"
                        >
                        <dxo-paging [pageSize]="10"></dxo-paging>
                        <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[10, 25, 50, 100]"></dxo-pager>
                        <dxo-search-panel [visible]="true" [highlightCaseSensitive]="true"></dxo-search-panel>
                        <dxo-group-panel [visible]="true"></dxo-group-panel>
                        <dxo-grouping [autoExpandAll]="false"></dxo-grouping>

                        <dxi-column dataField="type" dataType="string"></dxi-column>
                        <dxi-column dataField="range" dataType="string"></dxi-column>
                        <dxi-column dataField="reporting" dataType="string"></dxi-column>
                        <dxi-column dataField="balance" dataType="string"></dxi-column>
                        <dxi-column dataField="description" dataType="string"></dxi-column>

                    </dx-data-grid>

                    <button (click)="onCreate()"
                        class="fixed bottom-20 right-14 p-1 w-12 h-12 bg-blue-600 rounded-full hover:bg-blue-800 active:shadow-lg mouse shadow transition ease-in duration-200 focus:outline-none">
                        <svg viewBox="0 0 20 20" enable-background="new 0 0 20 20" class="w-6 h-6 inline-block">
                            <path fill="#FFFFFF" d="M16,10c0,0.553-0.048,1-0.601,1H11v4.399C11,15.951,10.553,16,10,16c-0.553,0-1-0.049-1-0.601V11H4.601
        C4.049,11,4,10.553,4,10c0-0.553,0.049-1,0.601-1H9V4.601C9,4.048,9.447,4,10,4c0.553,0,1,0.048,1,0.601V9h4.399
        C15.952,9,16,9.447,16,10z" />
                        </svg>
                    </button>
                </div>
            </ng-container>
        </mat-drawer-container>

    </div>

